dateutils==0.6.6
Django==1.9.5
django-allauth==0.25.2
django-analytical==2.0.0
django-ckeditor==5.0.3
django-debug-toolbar==1.4
django-mailgun==0.8.0
django-simple-captcha==0.5.1
django-webmaster-verification==0.3.0
jdatetime==1.7.4
oauthlib==1.0.3
Pillow==3.1.1
pymongo==3.2.2
python-dateutil==2.5.2
python-openid==2.2.5
pytz==2016.3
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
sqlparse==0.1.19
psycopg2==2.5.1
