/*=======================================
=            Style for login            =
=======================================*/

@import "compass";
@import "settings/settings";
@import "settings/mixins";
@import "modules/buttons";

body { background-color: #f6f8f8; }

form { padding: 0 20px; }

p#tm-user-links {

    a {
        color: #003c5a;

        i { color: #fc8f44; }
    }

    i { @include transition(0.2s all); }
}

div.tm-social-links {
    padding: 30px;
    text-align: center;
    border: 1px solid #E9F0F0;
    background-color: #F3F6F6;

    @include border-radius(5px);

    > * { color: #aebdc1; }

    a {

        i {
            font-size: 32px;
            vertical-align: -20%;
            margin-right: 10px;

            @include transition(0.2s all);

            &:hover { color: #748e95; }
        }
    }

}