// Buttons Border


// Fonts
$mirza-font-path:                           "../../fonts/mirza/";
$mirza-bold-font-path:                      "../../fonts/mirza/";

$mirza-font:                                Mirza;
$mirzab-font:                               Mirzab;