{% extends 'manager/base.html' %}
{% block title %}
    {% if 'edit' in request.get_full_path %}
        Edit Box
    {% else %}
        Add Box
    {% endif %}
{% endblock %}
{% load staticfiles %}
{% load func_tools %}
{% block content %}
    {% if not not_exists %}
        <form class="uk-form uk-form-horizontal" enctype="multipart/form-data" method="POST" data-uk-margin>
            {% csrf_token %}

            {{ form.description }}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                {% if 'edit' in request.get_full_path %}
                    <h3>Edit Box</h3>
                {% else %}
                    <h3>Add Box</h3>
                {% endif %}

                {% for item in form %}
                    {% if item.label == 'Box Image' %}
                        <div class="uk-form-row">
                            <label class="uk-form-label">{{ item.label }}</label>
                            <div class="uk-form-controls">
                                {{ item }}
                                {% if id|box_exist_file == 'True' %}
                                    <img src="{{ id|get_path_pic_box }}">
                                {% endif %}
                            </div>
                        </div>
                    {% elif item.label != 'Description' %}
                        <div class="uk-form-row">
                            <label class="uk-form-label">{{ item.label }}</label>
                            <div class="uk-form-controls">{{ item }}</div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="tm-panel-footer">
                    {% if 'edit' in request.get_full_path %}
                        <button class="btn uk-button-primary" type="submit">Edit</button>
                    {% else %}
                        <button class="btn uk-button-primary" type="submit">Add</button>
                    {% endif %}
                </div>
            </div>
        </form>
    {% else %}
        چنین باکسی موجود نمیباشد
    {% endif %}
    {% if error and error.errors %}
        {% for key, value in error.errors.items %}
            {{ key }}: {{ value}}
        {% endfor %}
    {% endif %}
{% endblock %}