{% extends 'manager/base.html' %}
{% block title %}
    {% if 'edit' in request.get_full_path %}
        Edit Box
    {% else %}
        Add Box
    {% endif %}
{% endblock %}
{% load staticfiles %}
{% load func_tools %}
{% block extrahead %}
    <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}
{% block content %}
    {% if not not_exists %}
        <form  enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% if 'edit' in request.get_full_path %}
                <h1><strong>Edit Box</strong></h1>
            {% else %}
                <h1><strong>Add Box</strong></h1>
            {% endif %}
            {{ form.as_ul }}

            {% if 'edit' in request.get_full_path %}
                {% if id|box_exist_file == 'True' %}
                    <img src="{{ id|get_path_pic_box }}">
                {% endif %}
                <hr>
                <button type="submit">Edit</button>
            {% else %}
                <hr>
                <button type="submit">Add</button>
            {% endif %}
        </form>
    {% else %}
        چنین باکسی موجود نمیباشد
    {% endif %}
    {% if error and error.errors %}
        {% for key, value in error.errors.items %}
            {{ key }}: {{ value}}
        {% endfor %}
    {% endif %}
{% endblock %}

