{% extends 'manager/base.html' %}
{% block title %}
    {% if 'edit' in request.get_full_path %}
        Edit Content
    {% else %}
        Add Content
    {% endif %}
{% endblock %}
{% load staticfiles %}
{% block extrahead %}
    <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}
{% block content %}
    {% if not not_exists %}
        <form  enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% if 'edit' in request.get_full_path %}
                <h1><strong>Edit Content</strong></h1>
            {% else %}
                <h1><strong>Add Content</strong></h1>
            {% endif %}
            {{ form.as_ul }}

            {% if 'edit' in request.get_full_path %}
                <hr>
                <button type="submit">Edit</button>
            {% else %}
                <hr>
                <button type="submit">Add</button>
            {% endif %}
        </form>
    {% else %}
        چنین فصلی موجود نمیباشد
    {% endif %}
    {% if error and error.errors %}
        {% for key, value in error.errors.items %}
            {{ key }}: {{ value}}
        {% endfor %}
    {% endif %}
{% endblock %}

