{% extends 'manager/base.html' %}
{% block title %}Edit Home Page{% endblock %}
{% load staticfiles %}
{% block extrahead %}
    <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}

{% block content %}
    <form method='POST'>

        {{ form.as_ul }}
        <button type="submit">Edit</button>
    </form>
    {% if error and error.errors %}
        {% for key, value in error.errors.items %}
            {{ key }}: {{ value}}
        {% endfor %}
    {% endif %}
{% endblock %}
