{% extends 'manager/base.html' %}
{% block title %}
    {% if 'edit' in request.get_full_path %}
        Edit Forum
    {% else %}
        Add Forum
    {% endif %}
{% endblock %}
{% load staticfiles %}
{% block content %}
    {% if not not_exists %}
        <form class="uk-form uk-form-horizontal" enctype="multipart/form-data" method="POST" data-uk-margin>
            {% csrf_token %}

            {{ form.description }}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                {% if 'edit' in request.get_full_path %}
                    <h3>Edit Forum</h3>
                {% else %}
                    <h3>Add Forum</h3>
                {% endif %}

                {% for item in form %}
                    {% if item.label != 'description' %}
                        <div class="uk-form-row">
                            <label class="uk-form-label">{{ item.label }}</label>
                            <div class="uk-form-controls">{{ item }}</div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="uk-form-row">
                    <label class="uk-form-label">Upload Image</label>
                    <div class="uk-form-controls">
                        <input type="file" name="forum_pic">
                    </div>
                </div>

                <div class="tm-panel-footer">
                    {% if 'edit' in request.get_full_path %}
                        <button class="btn uk-button-primary" type="submit">Edit</button>
                    {% else %}
                        <button class="btn uk-button-primary" type="submit">Add</button>
                    {% endif %}
                </div>
            </div>
        </form>
    {% else %}
        چنین فصلی موجود نمیباشد
    {% endif %}
    {% if error and error.errors %}
        <script>
            {% for key, value in error.errors.items %}
                uikitNotify('{{ key }}: {{ value}}', 'exclamation-circle', 'danger');
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}