{% extends 'manager/base.html' %}
{% block title %}
    {% if 'edit' in request.get_full_path %}
        Edit Group
    {% else %}
        Define Group
    {% endif %}
{% endblock %}
{% load staticfiles %}
{% block extrahead %}
{% endblock %}

{% block content %}
    {% if not not_exists %}
        <form method="POST">
            {% csrf_token %}
            <h1><strong>Define your group</strong></h1>
            {{ form.as_ul }}
            <hr>
            {% if 'edit' in request.get_full_path %}
                <button type="submit">Edit</button>
            {% else %}
                <button type="submit">Insert</button>
            {% endif %}
        </form>
    {% else %}
        چنین گروهی موجود نمیباشد
    {% endif %}
    {% if error and error.errors %}
        {% for key, value in error.errors.items %}
            {{ key }}: {{ value}}
        {% endfor %}
    {% endif %}
{% endblock %}

