{% extends 'manager/base.html' %}
{% block title %}Group List{% endblock %}
{% load staticfiles %}
{% load func_tools %}
{% block content %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <h3>groups list</h3>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    {% for key, value in data.0.items %}
                        {% if key != 'id' and key != '_id' %}
                            {% if key == 'views' %}
                                <th>Check permission from core</th>
                            {% else %}
                                <th>{{ key }}</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for key, value in item.items %}
                            {% if key != 'id' and key != '_id' %}
                                {% if key == 'visible_templatetags' or key == 'views' %}
                                    <td><strong title="{% for i in value %} {{ i }} <br> {% endfor %}">{{ value|length }} items</strong></td>
                                {% else %}
                                    <td>{{ value|truncatewords:8 }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td>
                            <a href="/manager/edit_group/{{ item|mongo_id }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    {% for key, value in data.0.items %}
                        {% if key != 'id' and key != '_id' %}
                            {% if key == 'views' %}
                                <th>Check permission from core</th>
                            {% else %}
                                <th>{{ key }}</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <th>action</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}