{% extends 'manager/base.html' %}
{% block title %}
    Home Manager
{% endblock %}
{% load staticfiles %}

{% block content %}
    <ul>
        <li><a href="/manager/box_list">لیست باکس ها</a></li>
        <li><a href="/manager/add_box">ایجاد باکس</a></li>
        <li><a href="/manager/content_list">لیست فهرست ها</a></li>
        <li><a href="/manager/add_content">ایجاد فهرست</a></li>
        <li><a href="/manager/user_list">لیست کاربرها</a></li>
        <li><a href="/manager/group_list">لیست گروه ها</a></li>
        <li><a href="/manager/add_group">ایجاد گروه</a></li>
        <li><a href="/manager/parent_list">لیست ریشه ها</a></li>
        <li><a href="/manager/add_parent">ایجاد ریشه</a></li>
        <li><a href="/manager/home_list">لیست نوشته های صفحه خانه</a></li>
        <li><a href="/manager/add_home">اجاد مطلب برای صفحه خانه</a></li>
    </ul>
{% endblock %}
