{% extends 'manager/base.html' %}
{% block title %}
    {% if 'edit' in request.get_full_path %}
        Edit Home Page
    {% else %}
        Insert Home Page
    {% endif %}
{% endblock %}
{% load staticfiles %}
{% block extrahead %}
    <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}

{% block content %}
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_ul }}

        {% if 'edit' in request.get_full_path %}
            <button type="submit">Edit</button>
        {% else %}
            <button type="submit">Insert</button>
        {% endif %}
    </form>
    {% if error and error.errors %}
        {% for key, value in error.errors.items %}
            {{ key }}: {{ value}}
        {% endfor %}
    {% endif %}
{% endblock %}
