{% extends 'manager/base.html' %}
{% load staticfiles %}
{% load func_tools %}
{% block title %}Parent List{% endblock %}
{% block content %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <h3>Parent list</h3>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    {% for key, value in parents.0.items %}
                        {% if key != '_id' %}
                            <th>{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in parents %}
                    <tr data-id="{{ item.id }}">
                        <td>{{ forloop.counter }}</td>
                        {% for key, value in item.items %}
                            {% if key == 'description' %}
                                <td>{{ value|striptags|safe|truncatechars:100 }}</td>
                            {% else %}
                                {% if key != '_id' %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td>
                            <a data-delete="{% url 'delete_parent' item|mongo_id %}"><i class="uk-icon-times"></i></a>
                            <a href="{% url 'edit_parent' item|mongo_id %}"><i class="uk-icon-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    {% for key, value in parents.0.items %}
                        <td></td>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block js_code %}
    <script>
        $('a[data-delete]').on('click', function(event) {
            event.preventDefault();
            $.ajax({
                url: event.currentTarget.dataset.delete,
                type: 'POST',
                dataType: 'xml/html/script/json/jsonp',
                success: function(data, textStatus, xhr) {
                    // table.row('.selected').remove().draw( false );
                    // console.log(data);
                },
                error: function(xhr, textStatus, errorThrown) {
                }
            });
        });
    </script>
{% endblock %}
