{% extends 'manager/base.html' %}
{% load staticfiles %}
{% load func_tools %}
{% block title %}User List{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/manager/dataTables.uikit.css" %}">
{% endblock %}
{% block content %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <h3>لیست کاربران</h3>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    {% for key, value in users.0.items %}
                        {% if key != '_id' %}
                            <th>{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in users %}
                    <tr data-id="{{ item.id }}">
                        <td>{{ forloop.counter }}</td>
                        {% for key, value in item.items %}
                            {% if key != '_id' %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <a href="/manager/edit_user/{{ item|mongo_id }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    {% for key, value in users.0.items %}
                        <td></td>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}