@font-face {
    font-family: $mirza-font;
    src:url("#{$mirza-font-path}Mirza.woff") format("woff"),
        url("#{$mirza-font-path}Mirza.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: $mirzab-font;
    src:url("#{$mirza-font-path}Mirza-Bold.woff") format("woff"),
        url("#{$mirza-font-path}Mirza-Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: $ubuntu-font;
    src:url("#{$ubuntu-font-path}Ubuntu-R.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: $ubuntub-font;
    src:url("#{$ubuntu-font-path}Ubuntu-B.ttf") format("truetype");
    font-weight: normal;
}