html {
    background-color: #eef5db;
    height: 100%;
}

aside#sidebar-main {
    width: 240px;
    background-color: #3d315b;
    @include position(fixed, 0 0 0 null);

    a {
        font-family: $mirzab-font;
        color: #766E8B;
    }
}