header#header-main {
    background-color: #EDF2F4;
    margin-right: 240px;
    border-bottom: 1px solid #E1E5EE;

    @include position(fixed, 0 0 null 0);
}

a#user_action_image { font-size: 0; }

aside#sidebar-main {
    width: 240px;
    background-color: #2A324B;

    @include position(fixed, 0 0 0 null);

    a {
        padding: 10px 15px;
        color: #E1E5EE;

        &:hover { color: #fff; }
    }
}

a#toggler-aside { margin: 14px 15px 14px 0; }

nav.tm-navbar-header {

    a {
        color: #8D99AE;
        font-size: 1.2em;

        &:hover { color: #4F6D7A; }
    }
}

ul.tm-nav {

    li {
        @include transition(.5s cubic-bezier(0.4, 0, 1, 1));

        &.uk-open {

            a { color: #fff !important; }

            background-color: #2B2D42;
        }
    }

    .uk-icon-justify { width: 1.6em; }

    ul {
        padding-right: 29px;
    
        a {
            font-size: 12px;
            color: #fff
        }
    }
}