header {

    &.uk-navbar-attached { background-color: #003c5a; }

    &.tm-active-navabr {

        ul.tm-navbar-nav > li > a {
            color: #2379a3;

            &:hover,
            &:focus,
            &:active {
                color: #fff;
                border-bottom: 1px solid #fff;
            }
        }
    }
}

nav.tm-navbar { padding: 10px 0; }

ul.tm-navbar-nav > li > a {
    color: #fff;

    i { font-size: 14px; }

    &:hover,
    &:focus,
    &:active { border-bottom: 1px solid #2379a3; }
}

div.tm-user-panel-nav {
    padding: 5px;
    background-color: rgba(255,255,225,.05);

    img {
        width: 30px;
        height: 30px;
    }

    p {
        background: #D6E6EE;
        padding: 10px;
        margin: -5px;
    }

    i { margin: 0 10px; }

    a { color: #fff; }

    ul > li > a {
        color: #003c5a;
        line-height: 2;
        display: block;

        &:hover { color: #fc8f44; }
    }
}