//
// Component: Comment
//
// ========================================================================


// Variables
// ========================================================================

$comment-header-margin-bottom:                  $global-margin;

$comment-avatar-margin-right:                   $global-margin;

$comment-title-font-size:                       round(($global-font-size * 1.14)); // 16px / 18px
$comment-title-line-height:                     round(($comment-title-font-size * 1.36)); // 22px / 24px

$comment-meta-color:                            $global-muted-color;
$comment-meta-font-size:                        round(($global-font-size * 0.78)); // 11px / 12px
$comment-meta-line-height:                      round(($comment-meta-font-size * 1.49)); // 16px / 18px

$comment-list-margin-top:                       $global-margin;


// Component
// ========================================================================

@mixin hook-comment() {}


// Sub-object `uk-comment-header`
// ========================================================================

@mixin hook-comment-header() {}


// Sub-object `uk-comment-avatar`
// ========================================================================

@mixin hook-comment-avatar() {}


// Sub-object `uk-comment-title`
// ========================================================================

@mixin hook-comment-title() {}


// Sub-object `uk-comment-meta`
// ========================================================================

@mixin hook-comment-meta() {}


// Sub-object `uk-comment-body`
// ========================================================================

@mixin hook-comment-body() {}


// Sub-object `uk-comment-primary`
// ========================================================================

@mixin hook-comment-primary() {}


// Miscellaneous
// ========================================================================

@mixin hook-comment-misc() {}