//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

$dropdown-z-index:                              $global-z-index + 20;
$dropdown-color:                                $global-color;
$dropdown-divider-border:                       $global-border;

$dropdown-navbar-color:                         $global-color;


// Component
// ========================================================================

@mixin hook-dropdown() {}


// Modifier: `uk-dropdown-navbar`
// ========================================================================

@mixin hook-dropdown-navbar() {}


// Sub-object: `uk-dropdown-overlay`
// ========================================================================

@mixin hook-dropdown-overlay() {}


// Miscellaneous
// ========================================================================

@mixin hook-dropdown-misc() {}