nav.tm-navbar {
    background: #003c5a;
    padding: 10px 0;
}

ul.tm-navbar-nav > li > a {
    color: #2379a3;

    i { font-size: 14px; }

    &:hover,
    &:focus,
    &:active {
        color: #ebebeb;
        background: transparent;
    }
}

.tm-navbar-inactive {
    position: absolute;
    width: 100%;
}