nav.tm-navbar {
    background: #003c5a;
    padding: 10px 0;
}

ul.tm-navbar-nav > li > a {
    color: #2379a3;

    i { font-size: 14px; }

    &:hover,
    &:focus,
    &:active {
        color: #ebebeb;
        background: transparent;
    }
}

.tm-navbar-inactive {
    position: absolute;
    width: 100%;
}

div.tm-user-panel-nav {
    padding: 5px;
    background-color: rgba(255,255,225,.1);

    p {
        background: #D6E6EE;
        padding: 10px;
        margin: -5px;
    }

    i { margin: 0 10px; }

    a { color: #fff; }

    ul > li > a {
        color: #003c5a;
        line-height: 2;
        display: block;

        &:hover { color: #fc8f44; }
    }
}