//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

$dropdown-z-index:                              $global-z-index + 20;
$dropdown-padding:                              10px;
$dropdown-background:                           #b8b7ad;
$dropdown-color:                                #373A47;
$dropdown-divider-border:                       #373A47;

$dropdown-navbar-color:                         $global-color;


// Component
// ========================================================================

@mixin hook-dropdown() {
    @include box-shadow(5px 5px 5px -3px #2A2D38);
}


// Modifier: `uk-dropdown-navbar`
// ========================================================================

@mixin hook-dropdown-navbar() {}


// Sub-object: `uk-dropdown-overlay`
// ========================================================================

@mixin hook-dropdown-overlay() {}


// Miscellaneous
// ========================================================================

@mixin hook-dropdown-misc() {}