//
// Component: Form
//
// ========================================================================


// Variables
// ========================================================================

$form-height:                                   $global-height;
$form-border:                                   #EDF2F4;
$form-background:                               #fcfcfc;
$form-color:                                    $global-color;

$form-focus-border:                             #E1E5EE;
$form-focus-background:                         #fcfcfc;
$form-focus-color:                              $global-color;

$form-disabled-border:                          $global-border;
$form-disabled-color:                           $global-muted-color;

$form-placeholder-color:                        $global-muted-color;

$form-gutter:                                   $global-margin;

$form-legend-border:                            $global-border;
$form-legend-font-size:                         round(($global-font-size * 1.28)); // 18px / 20px
$form-legend-line-height:                       round(($form-legend-font-size * 1.68)); // 30px / 34px

$form-small-height:                             $global-height-small;
$form-large-height:                             $global-height-large;
$form-small-font-size:                          round(($global-font-size * 0.85)); // 12px / 14px
$form-large-font-size:                          round(($global-font-size * 1.14)); // 16px / 18px

$form-blank-border:                             $global-border;

$form-horizontal-controls-margin-right:         215px;

$form-icon-font-size:                           $global-font-size;
$form-icon-color:                               $global-muted-color;


// Component
// ========================================================================

@mixin hook-form() { @include border-radius(3px); }

// Focus state
@mixin hook-form-focus() {
    box-shadow: 0 0 9px -3px #9DB4C0;
}

// Disabled state
@mixin hook-form-disabled() {}

// Legend
@mixin hook-form-legend() {}


// Validation states
// ========================================================================

//
// Error state
//

@mixin hook-form-danger() {}

//
// Success state
//

@mixin hook-form-success() {}


// Style modifiers
// ========================================================================

@mixin hook-form-blank() {}

@mixin hook-form-blank-focus() {}


// Sub-object: `uk-form-label`
// ========================================================================

@mixin hook-form-stacked-label() {}

@mixin hook-form-horizontal-label() {}


// Miscellaneous
// ========================================================================

@mixin hook-form-misc() {}