@import "style";

ul.tm-home-widget-list {

    div.uk-panel {
        padding: 10px;
        background-color: #f1f1f1;

        @include border-radius(5px);

        > div {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            margin: -9px -9px 0 -9px;
            padding: 10px;

            @include border-top-left-radius(4px);
            @include border-top-right-radius(4px);
        }
    }

    h2 {
        color: #FC8F48;
        margin: 0;
    }

    i {
        opacity: .3;
        font-size: 7em;
        color: #FC8F48;
        text-align: center;

        @include position(absolute, -10px null null 20px);
        @include border-radius(50%);
    }

    p {
        color: #837c77;
        text-align: justify;
        margin-top: 10px;
    }
}

div.tm-panel-courses {
    background-color: #EAF2F6;
    border: 1px solid #D1DFE7;

    @include transition(.3s all linear);
    @include border-top-left-radius(50px);
    @include border-bottom-left-radius(50px);

    img {
        margin: -20px -15px -20px 10px;
    }

    h3 {
        margin: 0;
        color: #003c5a;
        font-size: 1.5em;
        text-transform: capitalize;
    }

    i {
        margin: 0 auto 0 20px;
        color: #003c5a;
    }

    &:hover {
        background-color: #003c5a;
        border-color: #003c5a;

        * { color: #fff; }
    }
}