@import "style";

html { @include background(url('/static/main/img/bg.png')); }

section.tm-main-section-panel { height: 356px; }

div.tm-baner-content {

    &:after {
        content: '';

        @include background(
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAU+jEh8HwYGhi0wATAHJAkSgHNAAgBV7gNRbmnIiQAAAABJRU5ErkJggg=='),
            linear-gradient(to left, #21abc7, #616db3)
        );
        @include position(absolute, 0 0 0 0);
    }
}

div.uk-cover-background { height: 416px; }

div.tm-post-info {

    span {
        display: block;
        color: #a3a3a3;
    }
}

ul.tm-list-share-lessons > li {
    margin-bottom: 10px;

    &:first-child a { background-color: #ED5C49; }

    &:nth-child(2) a { background-color: #006699; }

    &:nth-child(3) a { background-color: #3B5998; }

    &:nth-child(4) a { background-color: #5EA9DD; }

    a {
        padding-right: 10px;
        height: 45px;
        color: #fff;

        &:hover > i { color: #fff; }
    }

    i {
        width: 2em;
        height: 100%;
        line-height: 1.5;
        text-align: center;
        margin-right: auto;
        color: rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.1);

        @include transition(.5s ease);
    }
}