/*====================================
=            Style Codes.            =
====================================*/
/* Compass */
/* Bourbon */
/* Settings */
/* Modules */
.tm-btn-1 {
  background: #fff;
  color: #3AC;
  border: 1px solid #3AC;
}
.tm-btn-1:hover, .tm-btn-1:focus, .tm-btn-1:active {
  color: #fff;
  background: #3AC;
}

div.tm-cover-home::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(57, 71, 96, 0.75), rgba(0, 0, 0, 0.75));
  background: linear-gradient(rgba(57, 71, 96, 0.75), rgba(0, 0, 0, 0.75));
}

ul.tm-home-widget-list i {
  color: #013B59;
  width: 2em;
  height: 2em;
  font-size: 2em;
  line-height: 2;
  border: 2px solid rgba(1, 59, 89, 0.11);
}
ul.tm-home-widget-list h4 ~ * {
  color: #666;
}

div.tm-panel-courses {
  background-color: #fcfcfc;
  padding: 20px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
div.tm-panel-courses h3 {
  color: #63696f;
}
div.tm-panel-courses p {
  color: #888;
}

div.tm-panel-new-course img {
  margin-top: -79px;
  width: 128px;
}
div.tm-panel-new-course h3 {
  font-family: Mirzab, ubuntub;
  border-bottom: 2px solid #FF7A39;
  padding-bottom: 10px;
}
div.tm-panel-new-course p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 2;
}
