/*====================================
=            Style Codes.            =
====================================*/
/* Compass */
/* Bourbon */
/* Settings */
/* Modules */
.tm-btn-1 {
  background: #fff;
  color: #3AC;
  border: 1px solid #3AC;
}
.tm-btn-1:hover, .tm-btn-1:focus, .tm-btn-1:active {
  color: #fff;
  background: #3AC;
}

table.tm-table-thread {
  border: 1px solid #ebf4f7;
}
table.tm-table-thread thead {
  background-color: #ebf4f7;
  color: #3AC;
}
table.tm-table-thread tbody > tr > td {
  border-bottom: 1px solid #ebf4f7;
}
table.tm-table-thread tbody > tr > td:first-child {
  color: #E76E33;
}
