@import "style";

html { @include background(url('/static/img/bg.png')); }

section.tm-main-section-panel { height: 456px; }

div.tm-baner-content {

    &:after {
        content: '';
        background-color: rgba(44, 51, 64, .7);

        @include position(absolute, 0 0 0 0);
    }
}

div.uk-cover-background {
    height: 576px;
    margin: -30px;
    background-size: 80%;
    background-color: #003c5a;
    background-repeat: no-repeat;
    background-position: center center;

    @include filter(blur(10px));
}

div.tm-panel-header-content {

    h1 { font-family: $mirzab-font, $ubuntub-font; }

    hr {
        margin-top: 100px;
        border-width: 2px;
        border-color: #3AC;
    }
}

ul.tm-subnav-content {

    li {
        padding-left: 2rem;

        i {
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            margin-left: 10px;
            background-color: #3AC;
            color: #EAF2F6;

            @include border-radius(50%);
        }
    }

    & > * > :hover { color: #EAF2F6; }
}

div.tm-panel-course {
    
    border: 1px solid #ebf4f7;
    padding: 1rem 2rem;

    .header {

        span {
            color: #3AC;
            border: 3px solid #3AC;
            width: 30px;
            height: 30px;
            display: inline-block;
            text-align: center;
            box-sizing: border-box;
            margin-left: 1rem;
            line-height: 2rem;
            font-size: 1.5rem;

            @include border-radius(50%);
        }
    }

    .footer {
        background-color: #ebf4f7;
        padding: 1rem 2rem;
        margin: 0 -2rem -1rem -2rem !important;

        a { color: #3AC; }
    }

    hr {
        border-color: #ebf4f7;
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: 0;
    }

    &.uk-active { background-color: #F7FDFF; }
}

ul.tm-list-lessons {
    margin-top: 10px;

    > li {
        padding: 10px 0;
        border-bottom: 1px solid #EAF2F6;

        &:last-child { border-bottom: 0; }

        &.unpublished {
            background-color: rgba(0,0,0,0.02);

            & > a {
                color: #999;
                pointer-events: none;

                span.badge { color: #999; }

                > * { @include filter(grayscale(100%)); }
            }
        }

        > a {
            color: #3a3a3a;
            font-family: $mirzab-font, $ubuntub-font;
            font-size: 14px;
            line-height: 25px;
        }

        span.badge {
            color: #E76E33;
            text-align: center;
            font-weight: bold;
            font-size: 1.3rem;
            margin-left: 10px;
        }

        span.tm-btn-1 {
            margin-right: auto;
        }
    }
}

ul.tm-list-authors {

    img {
        width: 64px;
        height: 64px;
    }

    h4 {
        margin: 0;
        line-height: 2;
    }

    p {
        margin-top: 10px;
        color: #999;
    }
}