{% load static %}
<!DOCTYPE html>
<html lang="en-us" dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block blockbots %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'main/css/framework.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
        {% block extrastyle %}{% endblock %}

        <!-- Fav Icons -->
        <link rel="shortcut icon" href="{% static "main/img/social_logo.png" %}" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="{% static "main/img/social_logo.png" %}">
    </head>
    <body>
        {% block body %}
            {% if messages %}
                <div>
                    <strong>Messages:</strong>
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
        <header data-uk-sticky="{media: 767, clsinactive: 'test', top: '.uk-sticky-placeholder + *',animation: 'uk-animation-slide-top'}">
            <nav class="tm-navbar uk-navbar">
                <div class="uk-container uk-container-center">
                    <ul class="tm-navbar-nav uk-navbar-nav">
                        <li>
                            <a href="{% url 'login' %}">
                                <i class="uk-icon-sign-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">
                                <i class="uk-icon-user"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">چالشگاه</a>
                        </li>
                        <li>
                            <a href="">درباره ما</a>
                        </li>
                        <li>
                            <a href="">تماس باما</a>
                        </li>
                    </ul>
                    <a class="uk-navbar-brand" href="/">
                        <img src="{% static 'main/img/logo2.png' %}" width="130" alt="پای سوشیال">
                    </a>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <div class="uk-block uk-block-muted">
                <div class="uk-container uk-container-center">
                    <div class="uk-grid uk-text-center">
                        <div class="uk-width-small-1-2 uk-width-large-1-4">
                            <a href=""><i class="uk-icon-facebook-square uk-icon-large"></i></a>
                            <a href=""><i class="uk-icon-google-plus-square uk-icon-large"></i></a>
                            <a href=""><i class="uk-icon-linkedin-square uk-icon-large"></i></a>
                            <a href=""><i class="uk- icon-twitter-square uk-icon-large"></i></a>
                        </div>
                        <div class="uk-width-small-1-2 uk-width-large-2-4">
                            <ul class="uk-subnav uk-flex-space-between uk-flex-center">
                                <li><a href="/">خانه</a></li>
                                <li><a href="/">درباره ما</a></li>
                                <li><a href="/">تماس با ما</a></li>
                                <li><a href="/">چالشگاه</a></li>
                            </ul>
                        </div>
                        <div class="uk-width-small-1-2 uk-width-large-1-4">
                            <img src="{% static "main/img/logo2.png" %}" alt="پای سوشیال" width="100">
                        </div>
                    </div>
                    <hr>
                    <p>2013&copyتمامی مطالب محفوظ و کپی برداری با ذکر منبع مجاز میبا شد.</p>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="{% static 'main/js/jquery-2.2.3.min.js' %}"></script>

        <!-- UIkit -->
        <script src="{% static 'main/js/uikit.min.js' %}"></script>
        <script src="{% static 'main/js/components/sticky.min.js' %}"></script>
        {% block uikit %}{% endblock %}
    </body>
</html>