{% load static %}
{% load func_tools %}
{% load google_analytics %}
{% load analytical %}
<!DOCTYPE html>
<html lang="fa-ir" dir="rtl">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block blockbots %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/client/framework.css' %}">
        <link rel="stylesheet" href="{% static 'css/client/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/client/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/client/monokai-sublime.css' %}">
        {% block extrastyle %}{% endblock %}

        <!-- Fav Icons -->
        <link rel="shortcut icon" href="{% static "img/social_logo.png" %}" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="{% static "img/social_logo.png" %}">
    </head>
    <body class="tm-body-main">
        <header data-uk-sticky="{media: 767, top: '.uk-sticky-placeholder + *', clsactive:'uk-navbar-attached uk-position-z-index', animation: 'uk-animation-slide-top'}">
            <nav class="tm-navbar uk-navbar uk-position-relative uk-position-z-index">
                <div class="uk-container uk-container-center">
                    <ul class="cl-effect-1 tm-navbar-nav uk-navbar-nav">
                        {% if request.user.is_authenticated %}
                            <li>
                                <div class="tm-user-panel-nav uk-flex uk-flex-middle">
                                    <div data-uk-dropdown="{mode:'click'}">
                                        <a class="uk-flex uk-flex-middle">
                                            <img width="30" src="{{ user_data.picture }}" alt="{{ user_data.first_name }} {{ user_data.last_name }}">
                                            <i class="uk-icon-caret-down"></i>
                                        </a>
                                        <div class="uk-dropdown uk-dropdown-flip">
                                            <p>{{ user_data.first_name }} {{ user_data.last_name }}, سلام</p>
                                            <ul class="uk-list uk-list-line uk-margin-bottom-remove">
                                                <li><a href="{% url "user_profile" user_data|mongo_id %}">حساب کاربری</a></li>
                                                <li><a href="">ارسال گزارش اشکالات</a></li>
                                                <li><a href="{% url "logout" %}">خروج</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href=""><i class="uk-icon-bell"></i></a>
                                </div>
                            </li>
                        {% endif %}
                        <li><a data-uk-modal="{target:'#search-modal'}"><i class="uk-icon-search"></i></a></li>
                        {% if not request.user.is_authenticated %}
                            <li><a href="{% url 'login' %}"><i class="uk-icon-sign-in"></i></a></li>
                            <li><a href="{% url 'register' %}"><i class="uk-icon-user"></i></a></li>
                        {% endif %}
                        <li class="uk-hidden-small"><a class="cl-ef" href="#dasboard" data-uk-smooth-scroll="{offset: 60}">داشبورد دانش</a></li>
                        <li class="uk-hidden-small"><a class="cl-ef" href="#new-course" data-uk-smooth-scroll="{offset: 60}">جدید ترین درس ها</a></li>
                        <li class="uk-hidden-small"><a class="cl-ef" href="{% url "show_forum" %}">چالشگاه</a></li>
                        <li class="uk-hidden-small"><a class="cl-ef" href="">تماس باما</a></li>
                    </ul>
                    <a class="uk-navbar-brand" href="/">
                        <img src="{% static 'img/logo2.png' %}" width="130" alt="پای سوشیال">
                    </a>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <div class="uk-block">
                <div class="uk-container uk-container-center">
                    <div class="uk-grid uk-text-center" data-uk-grid-margin>
                        <div class="uk-width-small-1-2 uk-width-large-1-4">
                            <a href=""><i class="uk-icon-facebook-square uk-icon-large"></i></a>
                            <a href=""><i class="uk-icon-google-plus-square uk-icon-large"></i></a>
                            <a href=""><i class="uk-icon-linkedin-square uk-icon-large"></i></a>
                            <a href=""><i class="uk- icon-twitter-square uk-icon-large"></i></a>
                        </div>
                        <div class="uk-width-small-1-2 uk-width-large-2-4">
                            <ul class="uk-subnav uk-flex-space-between uk-flex-center">
                                <li><a href="/">خانه</a></li>
                                <li><a href="/">درباره ما</a></li>
                                <li><a href="/">تماس با ما</a></li>
                                <li><a href="/">چالشگاه</a></li>
                            </ul>
                        </div>
                        <div class="uk-width-small-1-2 uk-width-large-1-4">
                            <img src="{% static "img/logo2.png" %}" alt="پای سوشیال" width="130">
                        </div>
                    </div>
                    <hr>
                    <p>2013&copy تمامی مطالب محفوظ و کپی برداری با ذکر منبع مجاز میبا شد.</p>
                </div>
            </div>
        </footer>

        <div class="uk-modal" id="search-modal">
            <div class="uk-height-1-1">
                <div class="uk-container uk-container-center">
                    <div class="tm-search-block uk-block">
                        <div class="uk-flex uk-flex-middle uk-flex-space-between uk-width-1-1">
                            <h2 class="uk-h1"><i class="uk-icon-search uk-margin-left"></i>جستجو</h2>
                            <a class="uk-close uk-close-alt uk-modal-close uk-float-left"></a>
                        </div>
                        <form class="uk-search uk-width-1-1" data-uk-search="{source:'{% url "search" %}'}">
                            <input class="uk-search-field" type="search" autofocus>
                            <div class="tm-dropdown-search-result uk-dropdown uk-dropdown-search"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block modal %}{% endblock %}

        {% block body %}
            {% if messages %}
                <div>
                    <strong>Messages:</strong>
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}

        <!-- jQuery -->
        <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
        {% google_analytics %}
        {% analytical_head_bottom %}
        {% analytical_body_top %}
        {% analytical_body_bottom %}

        <!-- UIkit -->
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/components/sticky.min.js' %}"></script>
        <script src="{% static 'js/components/notify.min.js' %}"></script>
        <script src="{% static 'js/components/search.js' %}"></script>
        <script src="{% static 'js/components/autocomplete.js' %}"></script>
        {% block uikit %}{% endblock %}

        <!-- Plugins And Scripts -->
        {% block js_plugins %}{% endblock %}
        <script src="{% static 'js/highlight.pack.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        {% block js_code %}{% endblock %}
    </body>
</html>
