{% extends "base.html" %}
{% load static %}
{% block title %}PySocial{% endblock %}
{% load func_tools %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/client/home.css' %}">
{% endblock %}
{% block content %}
    <section id="main-slide">
        <div class="uk-block uk-padding-remove uk-block-primary uk-height-viewport uk-position-relative">
            <div class="uk-position-absolute uk-position-bottom uk-height-1-1" style="background: url(/static/img/header_wall.png) 50% 50%; background-size: cover;">
                <div class="uk-container uk-container-center">
                    <div class="uk-contrast uk-text-center">
                        <div class="uk-block uk-block-large">
                            <h1>پای سوشیال</h1>
                            <h1>PySocial</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="uk-block uk-block-default">
            <div class="uk-container uk-container-center">
                <div class="uk-grid uk-flex-middle" data-uk-grid-margin>
                    <div class="uk-width-small-1-1 uk-width-large-1-2">
                        {{ what|safe }}
                    </div>
                    <div class="uk-width-small-1-1 uk-width-large-1-2 uk-text-center">
                        <img src="{% static "img/page01_img02.png" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="dasboard">
        <div class="uk-container uk-container-center">
            <div class="uk-block uk-block-large">
                <h2 class="uk-text-center uk-margin-large-bottom">داشبورد دانش</h2>
                <ul class="uk-grid uk-grid-width-small-1-1 uk-grid-width-large-1-2">
                    {% for box in boxs %}
                        <li class="uk-margin-large-bottom">
                            <a href="/dashboard/content/{{ box.title }}/{{ box|mongo_id }}" title="{{ box.title }}">
                                <div data-uk-scrollspy="{cls:'uk-animation-scale-up'}" class="tm-panel-courses uk-panel uk-flex uk-flex-middle">
                                    <img src="{{ box|get_path_pic_box }}" alt="{{ box.title }}" width="90">
                                    <h3>{{ box.title }}</h3>
                                    <i class="uk-icon-chevron-left"></i>
                                    {% comment %}
                                        <p>{{ box.description }}</p>
                                    {% endcomment %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section id="new-course">
        <div class="uk-block uk-block-large uk-block-secondary uk-contrast uk-nbfc">
            <div class="uk-container uk-container-center uk-text-center">
                <h2><b>جدید ترین درس ها</b></h2>
                <p class="uk-margin-large-bottom uk-text-muted uk-text-large">در این قسمت با خلاصه جدیدترین درس های هر بخش آشنا خواهید شد که براحتی میتوانید مراجعه کنید</p>
                <div class="uk-margin-large-top uk-display-inline-block uk-width-1-1" data-uk-slideset="{small: 1, medium: 2, large: 4, animation: 'slide-horizontal', duration: 200}">
                    <div class="uk-slidenav-position">
                        <ul class="uk-slideset uk-grid" data-uk-grid-match="{target:'.tm-panel-new-course'}">
                            {% for lesson in last_lesson %}
                                <li>
                                    <div class="tm-panel-new-course uk-panel uk-panel-box uk-panel-box-secondary">
                                        <img width="128" src="{{ lesson.picture }}" alt="{{ lesson.parent }}">
                                        <h3>{{ lesson.content_title }}</h3>
                                        <p>{{ lesson.description|safe }}</p>
                                        <a class="uk-button uk-button-primary" href="{% url "lesson" lesson.box_name_en lesson|mongo_id:'content_id' %}">دیدن این بخش</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="uk-slideset-nav uk-dotnav uk-flex-center uk-margin-large-top"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="uk-block">
            <div class="uk-container uk-container-center uk-nbfc">
                <h2 class="uk-text-center uk-margin-large-bottom">و حالا پای سوشیال</h2>
                <ul class="tm-home-widget-list uk-grid uk-grid-small-1-1 uk-grid-medium-1-2 uk-grid-width-large-1-2" data-uk-grid-margin data-uk-grid-match="{target:'.uk-panel'}" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', target:'.tm-home-widget-list-items'}">
                    {% for doc in roadmap %}
                        <li class="tm-home-widget-list-items">
                            <div class="uk-panel">
                                <i class="{{ doc.icon }} uk-float-right uk-border-circle uk-text-center uk-margin-left"></i>
                                <div class="uk-nbfc-alt">
                                    <h4 class="uk-margin-top"><strong>{{ doc.title }}</strong></h4>
                                    <p>{{ doc.body|safe }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <!-- <p>{{ news }}</p> -->
{% endblock %}
{% block uikit %}
    <script src="{% static 'js/components/slider.min.js' %}"></script>
    <script src="{% static 'js/components/slideset.min.js' %}"></script>
{% endblock %}
