{% extends "base.html" %}
{% load static %}
{% block title %}home{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}
{% block content %}
    <section>
        <div class="uk-block uk-padding-remove uk-block-primary uk-height-viewport uk-position-relative">
            <div class="uk-position-absolute uk-position-bottom uk-height-1-1" style="background: url(/static/main/img/header_wall.png) 50% 50%; background-size: cover;">
                <div class="uk-container uk-container-center">
                    <div class="uk-contrast uk-text-center">
                        <h1>پای سوشیال</h1>
                        <h1>PySocial</h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="uk-block uk-block-default">
            <div class="uk-container uk-container-center">
                <div class="uk-grid uk-flex-middle" data-uk-grid-margin>
                    <div class="uk-width-small-1-1 uk-width-large-1-2">
                        <h2>چرا زبان پایتون تا این اندازه محبوب شده ؟</h2>
                        <p>پایتون یک زبان برنامه نویسی اسکریپتی همه منظوره برای نوشتن برنامه‌ها به صورت مستقل از سکو هست که توسط Guido van Rossum در سال ۱۹۸۹ نوشته شده. اگه در این چند سال اخیر محبوبیت زبان‌های برنامه نویسی را بررسی کنید متوجه محبوبیت روز افزون خواهید شد</p>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-large-1-2 uk-text-center">
                        <img src="{% static "main/img/page01_img02.png" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="uk-block">
            <div class="uk-container uk-container-center">
                <h2 class="uk-text-center uk-margin-large-bottom">بینش پای سوشیال از آینده</h2>
                <ul class="tm-home-widget-list uk-grid uk-grid-small-1-1 uk-grid-medium-1-2 uk-grid-width-large-1-2" data-uk-grid-margin data-uk-grid-match="{target:'.uk-panel'}">
                    <li>
                        <div class="uk-panel">
                            <div>
                                <i class="uk-icon-database"></i>
                                <h2>بیگ دیتا</h2>
                            </div>
                            <p>کلان‌داده (به انگلیسی: Big data) اصطلاحی است که به مجموعهٔ داده‌هایی اطلاق می‌شود که مدیریت، کنترل و پردازش آنها فراتر از توانایی ابزارهای نرم‌افزاری در یک زمان قابل تحمل و مورد انتظار است.</p>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel">
                            <div>
                                <i class="uk-icon-cloud"></i>
                                <h2>رایانش ابری</h2>
                            </div>
                            <p>رایانش ابری (به انگلیسی: Cloud Computing) مدل رایانشی بر پایهٔ شبکه‌های رایانه‌ای مانند اینترنت است که الگویی تازه برای عرضه، مصرف و تحویل خدمات رایانشی (شامل زیرساخت، نرم‌افزار، بستر، و سایر منابع رایانشی) با به کارگیری شبکه ارائه می‌کند. «رایانش ابری» از ترکیب دو کلمه رایانش و ابر ایجاد شده است.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="uk-block uk-block-large uk-block-secondary">
            <div class="uk-container uk-container-center uk-text-center">
                <h2 class="uk-margin-large-bottom">آخرین مطالب چالشگاه</h2>
                <div data-uk-slideset="{default: 4, animation: 'slide-vertical', duration: 200}">
                    <div class="uk-slidenav-position">
                        <ul class="uk-slideset uk-grid uk-grid-width-1-4">
                            <li><img src="{% static "main/img/placeholder_200x100.svg" %}" alt=""></li>
                            <li><img src="{% static "main/img/placeholder_200x100.svg" %}" alt=""></li>
                            <li><img src="{% static "main/img/placeholder_200x100.svg" %}" alt=""></li>
                            <li><img src="{% static "main/img/placeholder_200x100.svg" %}" alt=""></li>
                            <li><img src="{% static "main/img/placeholder_200x100.svg" %}" alt=""></li>
                            <li><img src="{% static "main/img/placeholder_200x100.svg" %}" alt=""></li>
                            <li><img src="{% static "main/img/placeholder_200x100.svg" %}" alt=""></li>
                            <li><img src="{% static "main/img/placeholder_200x100.svg" %}" alt=""></li>
                        </ul>
                        <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                        <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="uk-container uk-container-center">
            <div class="uk-block uk-block-large">
                <ul class="uk-grid uk-grid-width-small-1-1 uk-grid-width-large-1-2">
                    <li>
                        <div class="uk-panel">
                            <img src="{% static "main/img/python.png" %}" width="90">
                            <h3>python</h3>
                            <i class="uk-icon-chevron-left"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- <p>{{ news }}</p> -->
{% endblock %}
{% block uikit %}
    <script src="{% static 'main/js/components/slider.min.js' %}"></script>
    <script src="{% static 'main/js/components/slideset.min.js' %}"></script>
{% endblock %}