{% extends "base.html" %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}
    <section>
        <div class="uk-block uk-padding-remove uk-block-primary uk-height-viewport">
            <div class="uk-container uk-container-center">
                <div class="uk-contrast uk-text-center">
                    <h1>پای سوشیال</h1>
                    <p></p>
                </div>
            </div>
            <img src="{% static "main/img/header_wall.png" %}" alt="bigdata">
        </div>
    </section>
    <section>
        <div class="uk-block uk-block-muted">
            <div class="uk-container uk-container-center">
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <h2>چرا زبان پایتون تا این اندازه محبوب شده ؟</h2>
                        <p>پایتون یک زبان برنامه نویسی اسکریپتی همه منظوره برای نوشتن برنامه‌ها به صورت مستقل از سکو هست که توسط Guido van Rossum در سال ۱۹۸۹ نوشته شده. اگه در این چند سال اخیر محبوبیت زبان‌های برنامه نویسی را بررسی کنید متوجه محبوبیت روز افزون خواهید شد</p>
                    </div>
                    <div class="uk-width-1-2">
                        <img src="{% static "main/img/page01_img02.png" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="uk-block uk-block-default">
            <div class="uk-container uk-container-center">
                <h2 class="uk-text-center">بینش پای سوشیال از آینده</h2>
                <ul class="uk-grid uk-grid-width-1-2" data-uk-grid-margin>
                    <li class="uk-flex uk-flex-top">
                        <i class="uk-icon-edit uk-icon-large uk-text-primary"></i>
                        <div class="uk-margin-right">
                            <h2>test</h2>
                            <p>این متن تست میباشد</p>
                        </div>
                    </li>
                    <li class="uk-flex uk-flex-top">
                        <i class="uk-icon-edit uk-icon-large uk-text-primary"></i>
                        <div class="uk-margin-right">
                            <h2>test</h2>
                            <p>این متن تست میباشد</p>
                        </div>
                    </li>
                    <li class="uk-flex uk-flex-top">
                        <i class="uk-icon-edit uk-icon-large uk-text-primary"></i>
                        <div class="uk-margin-right">
                            <h2>test</h2>
                            <p>این متن تست میباشد</p>
                        </div>
                    </li>
                    <li class="uk-flex uk-flex-top">
                        <i class="uk-icon-edit uk-icon-large uk-text-primary"></i>
                        <div class="uk-margin-right">
                            <h2>test</h2>
                            <p>این متن تست میباشد</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- <p>{{ news }}</p> -->
{% endblock %}