<img src="cid:Welcome.jpg" />
<br />
<br />
<div dir='rtl'>
    <br />
    <br />
    <label>آدرس سایت: </label><a href="www.PySocial.com">www.PySocial.com</a>
    <br />
    <br />
    <label>آموزش پایتون: </label><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0CCsQFjAC&url=http%3A%2F%2Fpysocial.com%2Fdashboard%2F19%2F&ei=vLM_VIfRFcf7ariegsgO&usg=AFQjCNHKDWEBA4KkYsKBi4HHFfyo0t_kbw&sig2=54AiTuE5jDJE6HVzF8yE_A&bvm=bv.77648437,d.d2s">لینک آموزش زبان برنامه نویسی پایتون</a>
    <br />
    <br />
    <label>آموزش پایکیوت: </label><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0CC0QFjAC&url=http%3A%2F%2Fpysocial.com%2Fdashboard%2F14%2F&ei=Qbc_VMuxIoPiaLTbgPAL&usg=AFQjCNFKEShDrleUudvaij5cFEmprVk1uQ&sig2=E8prZDrG8EdT8yYkb6XvfA&bvm=bv.77648437,d.d2s">لینک آموزش پایکیوت</a>
    <br />
    <br />
    <label>آموزش فریم ورک جنگو: </label><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CDIQFjAD&url=http%3A%2F%2Fpysocial.com%2Fdashboard%2F17%2F&ei=2bc_VL_ID4KyacLzgYAH&usg=AFQjCNGW4ZE-phokNCB7SoAiz2oVbNrPUw&sig2=x04CzZJMGfKPKnh2_HTFvQ&bvm=bv.77648437,d.d2s">لینک آموزش جنگو</a>
    <br />
    <br />
    <label>آموزش کتابخانه توییستد: </label><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CB0QFjAA&url=http%3A%2F%2Fpysocial.com%2Fdashboard%2F16%2F&ei=N7g_VOmXCMniaNSfgoAF&usg=AFQjCNF9IqZkOF1BvV2eccGqXHMCHYnTOQ&sig2=SyNapqW-6wEmBAcXD4ltyw&bvm=bv.77648437,d.d2s">لینک آموزش توییستد</a>
    <br />
    <br />
    <label>چالشگاه(انجمن) سایت: </label><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CB0QFjAA&url=http%3A%2F%2Fwww.pysocial.com%2FChallengeRoom%2F&ei=dLQ_VLq4BNPdaPK0gMgN&usg=AFQjCNE0t8KuealGWIq1-XcQJo0BRfjo9Q&sig2=F56MQjjHV8UWeYAPA6Z1jA">لینک چالشگاه</a>
</div>

