header {

    &.uk-navbar-attached { background-color: #003c5a; }

    &.tm-active-navabr {

        ul.tm-navbar-nav > li > a {
            color: #2379a3;

            &:hover,
            &:focus,
            &:active {
                color: #fff;
                border-bottom: 1px solid #fff;
            }
        }
    }
}

nav.tm-navbar { padding: 10px 0; }

ul.tm-navbar-nav > li > a {
    color: #fff;

    i { font-size: 14px; }
}

div.tm-user-panel-nav {
    padding: 5px;
    background-color: rgba(255,255,225,.05);

    img {
        width: 30px;
        height: 30px;
    }

    p {
        background: #D6E6EE;
        padding: 10px;
        margin: -5px;
    }

    i { margin: 0 10px; }

    a { color: #fff; }

    ul > li > a {
        color: #003c5a;
        line-height: 2;
        display: block;

        &:hover { color: #fc8f44; }
    }
}

.cl-effect-1 {

    & a.cl-ef::before,
    & a.cl-ef::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }

    & a.cl-ef::before {
        margin-left: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
    }

    & a.cl-ef::after {
        margin-right: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    & a.cl-ef:hover::before,
    & a.cl-ef:hover::after,
    & a.cl-ef:focus::before,
    & a.cl-ef:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
}


