{% extends "base.html" %}
{% load static %}
{% load func_tools %}
{% block title %}آموزش {{ box.title }} | {{ box.title_fa }}{% endblock %}
{% block meta_desc %}{{ box.description|safe }}{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/client/content.css' %}">
{% endblock %}
{% block content %}
    <section class="tm-main-section-panel">
        <div class="tm-baner-content uk-nbfc uk-position-absolute uk-position-top">
            <div class="uk-cover-background" style="background-image: url('{{ box.picture }}');"></div>
        </div>
        <div class="uk-block uk-block-large">
            <div class="uk-container uk-container-center">
                <div class="uk-grid uk-flex-middle">
                    <div class="uk-flex-item-auto">
                        <div class="tm-panel-header-content uk-panel uk-flex uk-flex-column uk-flex-space-between uk-contrast">
                            <h1 class="uk-heading-large">{{ box.title_fa }}</h1>
                            <hr>
                            <ul class="tm-subnav-content uk-subnav">
                                <li><i class="uk-icon-thumbs-up"></i>{{ box.likes }} لایک</li>
                                <li><i class="uk-icon-book"></i>{{ len_contents }} درس</li>
                                <li><i class="uk-icon-users"></i>{{ box.likes }} بازدید</li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-hidden-small">
                        <img src="{{ box.picture }}" alt="{{ box.title_fa }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="uk-block">
        <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-4">
                <h2><strong>نویسندگان</strong></h2>
                <ul class="tm-list-authors uk-list uk-list-striped">
                    {% for author in authors %}
                        <li>
                            <a class="uk-flex uk-flex-middle" href="{% url 'user_profile' author|mongo_id %}">
                                <img class="uk-align-right uk-margin-bottom-remove" width="64" height="64" src="{{ author.picture }}" alt="{% if author.first_name %}{{ author.first_name }} {{ author.last_name }}{% else %}{{ author.username }}{% endif %}">
                                <h4>{% if author.first_name %}{{ author.first_name }} {{ author.last_name }}{% else %}{{ author.username }}{% endif %}</h4>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="uk-width-large-3-4">
                <h2><strong>توضیحات</strong></h2>
                <p>{{ box.description|safe }}</p>
                <div class="tm-accordion-content uk-accordion" data-uk-accordion="{toggle:'.toggle-btn', clsactive:'uk-active'}" data-uk-margin="{cls:'uk-margin-large'}">
                    {% for parent in parents %}
                        <div class="tm-panel-course uk-panel uk-panel-box">
                            <div class="header">
                                <h3 class="uk-panel-title"><span>{{ forloop.counter }}</span><strong>{{ parent.2 }}</strong></h3>
                                {{ parent.1|safe }}
                            </div>
                            <hr>
                            <div class="uk-accordion-content">
                                <ul class="tm-list-lessons uk-list">
                                    {% for doc in parent.3 %}
                                        {% if doc.published %}
                                            <li>
                                                <a href="{% url "lesson" box.title doc|mongo_id %}">
                                                    <span class="badge">{{ forloop.counter }}.</span>
                                                    {{ doc.title }}
                                                    <span class="tm-btn-1 uk-button uk-button-small uk-hidden-small uk-float-left">ورود</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="unpublished">
                                                <a>
                                                    <span class="badge">{{ forloop.counter }}.</span>
                                                    {{ doc.title }}
                                                    <span class="tm-btn-1 uk-button uk-button-small uk-hidden-small uk-float-left">ورود</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="footer uk-clearfix">
                                <div class="toggle-btn uk-float-left" data-uk-toggle="{target:'.toggle-class-{{ forloop.counter }}'}">
                                    <a class="toggle-class-{{ forloop.counter }} uk-hidden">پنهان کردن لیست <i class="uk-icon-chevron-up"></i></a>
                                    <a class="toggle-class-{{ forloop.counter }}">نمایش لیست <i class="uk-icon-chevron-down"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
{% block uikit %}
    <script src="{% static "js/components/accordion.min.js" %}"></script>
{% endblock uikit %}
