{% extends "base.html" %}
{% load static %}
{% load func_tools %}
{% block title %}
    {{ content.title }} | {{ box_name_en }} | {{ box_name_fa }}
{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'main/css/lesson.css' %}">
{% endblock %}
{% block content %}
    <div class="uk-container uk-container-center">
        <div class="uk-block">
            <div class="uk-grid">
                <div class="uk-visible-large uk-width-large-1-4">
                    <div class="uk-text-center">
                        <h2 class="uk-text-right"><strong>نویسنده</strong></h2>
                        <img class="uk-border-circle" width="200" src="{{ author.picture }}" alt="{% if author.first_name %}{{ author.first_name }} {{ author.last_name }}{% else %}{{ author.username }}{% endif %}">
                        {% if author.first_name %}
                            <p class="uk-text-large uk-text-primary">{{ author.first_name }} {{ author.last_name }}</p>
                        {% else %}
                            <p class="uk-text-large uk-text-primary">{{ author.username }}</p>
                        {% endif %}
                    </div>
                    <ul class="tm-list-share-lessons uk-list">
                        <li>
                            <a class="uk-flex uk-flex-middle uk-animation-shake uk-animation-hover" href="https://plus.google.com/share?url=http://www.PySocial.com{{ request.get_full_path|urlencode }}">
                                <b>اشتراک گذاری در شبکه جیمیل پلاس</b>
                                <i class="uk-icon-google-plus uk-icon-large"></i>
                            </a>
                        </li>
                        <li>
                            <a class="uk-flex uk-flex-middle uk-animation-shake uk-animation-hover" href="http://www.linkedin.com/shareArticle?url=http://www.PySocial.com{{ request.get_full_path|urlencode }}&title={{ content.title }}&summary={{ content.title|truncatewords:4 }}&source=http://PySocial.com">
                                <b>اشتراک گذاری در شبکه لینکدین</b>
                                <i class="uk-icon-linkedin uk-icon-large"></i>
                            </a>
                        </li>
                        <li>
                            <a class="uk-flex uk-flex-middle uk-animation-shake uk-animation-hover" href="http://www.facebook.com/sharer/sharer.php?u=http://www.PySocial.com{{ request.get_full_path|urlencode }}">
                                <b>اشتراک گذاری در شبکه فیس بوک</b>
                                <i class="uk-icon-facebook-f uk-icon-large"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-small-1-1 uk-width-large-3-4">
                    <h2><strong>{{ content.title }}</strong></h2>
                    <div class="tm-lesson-navigation">
                        <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
                            <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-2">
                                <span><i class="uk-icon-file-text-o"></i> مبحث: {{ content.description|removetags:"p" }}</span>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-2 uk-text-left uk-visible-large">
                                <span><i class="uk-icon-calendar"></i> تاریخ انتشار: {{ lesson.created|to_jalali }}</span>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-2 uk-hidden-large">
                                <span><i class="uk-icon-calendar"></i> تاریخ انتشار: {{ lesson.created|to_jalali }}</span>
                            </div>
                        </div>
                    </div>
                    {{ lesson.body|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
