// Buttons Border

// Fonts
$mirza-font-path:                           "../../fonts/mirza/";
$mirza-bold-font-path:                      "../../fonts/mirza/";
$ubuntu-font-path:                          "../../fonts/ubuntu/";

$mirza-font:                                Mirza;
$mirzab-font:                               Mirzab;
$ubuntu-font:                               ubuntu;
$ubuntub-font:                              ubuntub;