{% load staticfiles %}
<html dir="rtl">
    <head>
        <title>صفحه ورود</title>
        <meta property="og:site_name" content="PySocial">
        <meta property="og:url" content="http://pysocial.com">
        <meta name="description" content="Login into PySocial.">
    </head>
    <body>
        <div>
            <form id="login" action="" method="post">
                <h1>ورود به سایت</h1>
            <fieldset>
                {% csrf_token %}
                <input id="username" autocomplete="off" name="username" type="text" value="" placeholder="نام کاربری" />
                <input id="password" autocomplete="off" name="password" type="password" value="" placeholder="رمز عبور" />
            </fieldset>
            <fieldset id="actions">
                <input type="submit" id="submit" name='login' value="ورود به سایت"/>
                {{ msg|safe|escape }}
                <p class="option">
                    <a href="/accounts/register">ثبت نام</a>
                    <a href="/user/password/reset/">رمز عبور را فراموش کردم</a>
                </p>
            </fieldset>
            </form>
        </div>
    </body>
</html>
