{% load staticfiles %}
{% load socialaccount %}

<html lang="fa-IR" dir="rtl" class="uk-height-1-1">
    <head>
        <title>صفحه ورود</title>
        <meta property="og:site_name" content="PySocial">
        <meta property="og:url" content="http://pysocial.com">
        <meta name="description" content="Login into PySocial.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/framework.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/users/authentication.css' %}">
    </head>
    <body class="uk-height-1-1">
        <div class="uk-vertical-align uk-height-1-1 uk-text-center">
            <div class="uk-vertical-align-middle">
                <form class="uk-form uk-form-stacked uk-text-right" action="" method="post">
                    {% csrf_token %}
                    <div class="uk-form-row">
                        <label class="uk-form-label">نام کاربری</label>
                        <div class="uk-form-controls">
                            <input class="uk-form-large uk-form-width-large" autocomplete="off" name="username" type="text">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label">رمز عبور</label>
                        <div class="uk-form-controls">
                            <input class="uk-form-large uk-form-width-large" autocomplete="off" name="password" type="password">
                        </div>
                    </div>
                    <div class="uk-text-center">
                        <button class="uk-button uk-button-primary uk-button-large uk-margin-top uk-margin-bottom" type="submit" name='login'>ورود به سایت</button>
                    </div>
                    {{ msg|safe|escape }}
                    <p id="tm-user-links">
                        <a href="/users/register"><i class="uk-icon-circle uk-margin-small-left"></i>ثبت نام</a>
                        <br>
                        <a href="/users/reset_password/"><i class="uk-icon-circle uk-margin-small-left"></i>رمز عبور را فراموش کردم</a>
                    </p>
                    <div class="tm-social-links uk-margin-large-top">
                        <span>ورود با حساب های:</span>
                        <a href="{% provider_login_url "facebook" %}"><i class="uk-icon-facebook-square"></i></a>
                        <a href="{% provider_login_url "google" %}"><i class="uk-icon-google-plus-square"></i></a>
                        <a href="{% provider_login_url "linkedin" %}"><i class="uk-icon-linkedin-square"></i></a>
                        <a href="{% provider_login_url "github" %}"><i class="uk-icon-github-square"></i></a>
                        <a href="{% provider_login_url "twitter" %}"><i class="uk-icon-twitter-square"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
