{% extends "base.html" %}
{% load static %}
{% load func_tools %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/client/users/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/client/cropper.css' %}">
{% endblock %}
{% block content %}
    <div class="tm-baner-user uk-nbfc uk-position-absolute uk-position-top">
        {% if user.picture == '/media/avatars/default.png' %}
            <div class="uk-cover-background" style="background-image: url('{% static "img/defaultbaner.jpg" %}');"></div>
        {% else %}
            <div class="uk-cover-background" style="background-image: url('{{ user.picture }}');"></div>
        {% endif %}
    </div>
    <div class="uk-container uk-container-center">
        <div class="tm-panel-user uk-panel uk-panel-box uk-width-small-1-1 uk-width-large-4-5 uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4 uk-text-center">
                    <figure class="uk-overlay uk-overlay-hover">
                        <img src="{{ user.picture }}" alt="{{ user.first_name }} {{ user.last_name }}">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle  uk-text-center uk-overlay-slide-bottom">
                            <a href="#image-upload" data-uk-offcanvas><i class="uk-icon-camera uk-icon-large"></i></a>
                        </figcaption>
                    </figure>
                    {% if 'root' in user.groups_name %}
                        <span class="tm-user-badge uk-width-1-1 uk-margin-top">ادمین</span>
                    {% elif 'author' in user.groups_name %}
                        <span class="tm-user-badge uk-width-1-1 uk-margin-top">نویسنده</span>
                    {% elif 'Member' in user.groups_name %}
                        <span class="tm-user-badge uk-width-1-1 uk-margin-top">کاربر</span>
                    {% endif %}
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-3-4">
                    <h2 class="uk-heading-large"><strong>{{ user.username }}</strong></h2>
                    {{ user.banner }}
                    <hr>
                    <div class="tm-form-user-profile uk-form-horizontal">
                        <div class="uk-form-row uk-margin-small-top">
                            <label class="uk-form-label">نام</label>
                            <div class="uk-form-controls uk-form-controls-condensed">{{ user.first_name }}</div>
                        </div>
                        <div class="uk-form-row uk-margin-small-top">
                            <label class="uk-form-label">نام خانوادگی</label>
                            <div class="uk-form-controls uk-form-controls-condensed">{{ user.last_name }}</div>
                        </div>
                        <div class="uk-form-row uk-margin-small-top">
                            <label class="uk-form-label">ایمیل</label>
                            <div class="uk-form-controls uk-form-controls-condensed">{{ user.email }}</div>
                        </div>
                        <div class="uk-form-row uk-margin-small-top">
                            <label class="uk-form-label">تاریخ ثبت نام</label>
                            <div class="uk-form-controls uk-form-controls-condensed">{{ user.date_joined|to_jalali }}</div>
                        </div>
                        <div class="uk-form-row uk-margin-small-top">
                            <label class="uk-form-label">آخرین ورود</label>
                            <div class="uk-form-controls uk-form-controls-condensed">{{ user.last_login|to_jalali }}</div>
                        </div>
                        <div class="uk-form-row uk-margin-small-top">
                            <label class="uk-form-label">لقب</label>
                            <div class="uk-form-controls uk-form-controls-condensed">{{ user.nick_name }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-panel-user-footer">
                <div class="social-buttons uk-clearfix uk-flex uk-flex-center">
                    <a href="#" class="social-button facebook"><i class="fa uk-icon-facebook"></i></a>
                    <a href="#" class="social-button twitter"><i class="fa uk-icon-twitter"></i></a>
                    <a href="#" class="social-button google"><i class="fa uk-icon-google"></i></a>
                    <a href="#" class="social-button dribbble"><i class="fa uk-icon-dribbble"></i></a>
                    <a href="#" class="social-button skype"><i class="fa uk-icon-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="image-upload" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
            <div class="cropper-container">
                <img id="edit_user_image" src="{{ user.picture }}" alt="">
            </div>
            <div id="progressbar" class="uk-progress uk-hidden">
                <div class="uk-progress-bar" style="width: 0%;">...</div>
            </div>
            <div id="upload-drop" class="tm-placeholder uk-placeholder uk-text-center uk-margin-remove">
                <i class="uk-icon-image"></i>
                <p>عکس مورد نظر خودرا در اینجا رها کنید</p>
                <a class="uk-form-file uk-button">انتخاب<input id="upload-select" name="profile_picture" type="file"></a>
            </div>
        </div>
    </div>
{% endblock content %}
{% block uikit %}
    <script src="{% static 'js/components/upload.min.js' %}"></script>
{% endblock %}
{% block js_plugins %}
    <script src="{% static 'js/cropper.min.js' %}"></script>
{% endblock %}
{% block js_code %}
    <script>

        $(function(){

            var progressbar = $("#progressbar"),
                bar         = progressbar.find('.uk-progress-bar'),
                settings    = {

                action: '/users/profile/upload_picture/{{ user|mongo_id }}/', // upload url

                allow : '*.(jpg|jpeg|gif|png)', // allow only images

                type: 'json',

                loadstart: function(event) {
                    bar.css("width", "0%").text("0%");
                    progressbar.removeClass("uk-hidden");
                },

                progress: function(percent) {
                    percent = Math.ceil(percent);
                    bar.css("width", percent+"%").text(percent+"%");
                },

                beforeAll: function(files) {
                    console.log(files);
                },

                before: function(settings, files) {
                    console.log(settings);
                    console.log(files);
                },

                allcomplete: function(response, xhr) {

                    bar.css("width", "100%").text("100%");

                    setTimeout(function(){
                        progressbar.addClass("uk-hidden");
                    }, 1000);

                    uikitNotify('عکس مورد نظر با موفقیت آپلود شد', 'check', 'success');
                }
            };

            var select = UIkit.uploadSelect($("#upload-select"), settings),
                drop   = UIkit.uploadDrop($("#upload-drop"), settings);
        });

        $('.uk-offcanvas').on({
            'show.uk.offcanvas': function() {
                var image = document.getElementById('edit_user_image');
                var cropper = new Cropper(image, {
                    aspectRatio: 1 / 1,
                    viewMode: 2,
                    responsive: true,
                    center: true,
                    movable: true,
                    autoCrop: true,
                    crop: function(e) {
                        // console.log(e.detail.x);
                        // console.log(e.detail.y);
                        // console.log(e.detail.width);
                        // console.log(e.detail.height);
                        // console.log(e.detail.rotate);
                        // console.log(e.detail.scaleX);
                        // console.log(e.detail.scaleY);
                    }
                });
            },

            'hide.uk.offcanvas': function() {
            }
        });

    </script>
{% endblock %}