/*====================================
=            Style Codes.            =
====================================*/
/* Compass */
/* Bourbon */
/* Settings */
/* Modules */
.tm-btn-1 {
  background: #fff;
  color: #3AC;
  border: 1px solid #3AC;
}
.tm-btn-1:hover, .tm-btn-1:focus, .tm-btn-1:active {
  color: #fff;
  background: #3AC;
}

/* Layout */
body {
  padding-top: 48px;
}

header#header-main {
  background-color: #EDF2F4;
  margin-right: 240px;
  border-bottom: 1px solid #E1E5EE;
  z-index: 1011;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

a#user_action_image {
  font-size: 0;
}

aside#sidebar-main {
  width: 240px;
  background-color: #2A324B;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}
aside#sidebar-main a {
  padding: 10px 15px;
  color: #E1E5EE;
}
aside#sidebar-main a:hover {
  color: #fff;
}

a#toggler-aside {
  margin: 14px 15px 14px 0;
}

nav.tm-navbar-header a {
  color: #8D99AE;
  font-size: 1.2em;
}
nav.tm-navbar-header a:hover {
  color: #4F6D7A;
}

ul.tm-nav li {
  -webkit-transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
  -moz-transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
}
ul.tm-nav li.uk-open {
  background-color: #2B2D42;
}
ul.tm-nav li.uk-open a {
  color: #fff !important;
}
ul.tm-nav .uk-icon-justify {
  width: 1.6em;
}
ul.tm-nav ul {
  padding-right: 29px;
}
ul.tm-nav ul a {
  font-size: 12px;
  color: #fff;
}

div#content-main {
  margin-right: 240px;
}
