//
// Component: Icon
//
// ========================================================================


// Variables
// ========================================================================

$icon-font-path:                                 "../../fonts";

$icon-hover-color:                              $global-muted-color;
$icon-hover-hover-color:                        $global-color;

$icon-button-height:                            $icon-button-width;
$icon-button-font-size:                         round(($icon-button-width * 0.5));
$icon-button-color:                             $global-color;

$icon-button-hover-color:                       $global-color;

$icon-button-active-color:                      $global-color;


// Modifier: `uk-icon-hover`
// ========================================================================

@mixin hook-icon-hover() {}

@mixin hook-icon-hover-hover() {}


// Modifier: `uk-icon-button`
// ========================================================================

@mixin hook-icon-button() {}

// Hover
@mixin hook-icon-button-hover() {}

// Active
@mixin hook-icon-button-active() {}


// Miscellaneous
// ========================================================================

@mixin hook-icon-misc() {}