//
// Component: Overlay
//
// ========================================================================


// Variables
// ========================================================================

$overlay-panel-color:                           $global-contrast-color;

$overlay-panel-background:                      rgba(46, 65, 98, 0.5);

$overlay-icon-color:                            $global-contrast-color;


// Sub-object `uk-overlay-panel`
// ========================================================================

@mixin hook-overlay-panel() {}


// Sub-object `uk-overlay-background`
// ========================================================================

@mixin hook-overlay-background() {}


// Sub-object `uk-overlay-image`
// ========================================================================

@mixin hook-overlay-image() {}


// Sub-object `uk-overlay-icon`
// ========================================================================

@mixin hook-overlay-icon() {}


// Miscellaneous
// ========================================================================

@mixin hook-overlay-misc() {}