<!DOCTYPE html>
{% load static %}
<html lang="fa-ir" dir='rtl'>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'main/css/framework.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/manager/manager.css' %}">
        {% block extrastyle %}{% endblock %}

        <!-- Fav Icons -->
        <link rel="shortcut icon" href="{% static "main/img/social_logo.png" %}" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="{% static "main/img/social_logo.png" %}">
    </head>

    <body>
        <div class="uk-flex uk-height-1-1">
            <aside>
                <ul class="uk-nav">
                    <li><a href="/forum/add_forum">اضافه کردن فروم</a></li>
                    <li><a href="/forum/forum_list">نمایش فروم</a></li>
                </ul>
            </aside>
            <section class="uk-width-1-1">
                {% block content %}{% endblock %}
            </section>
        </div>
        {% block footer %}{% endblock %}

        <!-- jQuery -->
        <script src="{% static 'main/js/jquery-2.2.3.min.js' %}"></script>

        <!-- UIkit -->
        <script src="{% static 'main/js/uikit.min.js' %}"></script>
        <script src="{% static 'main/js/components/notify.min.js' %}"></script>
        <script src="{% static 'main/js/components/search.min.js' %}"></script>
        {% block uikit %}{% endblock %}

        <!-- Plugins And Scripts -->
        {% block js_plugins %}{% endblock %}
        <script src="{% static 'main/js/script.js' %}"></script>
        {% block js_code %}{% endblock %}
    </body>
</html>
