{% extends "base.html" %}
{% load static %}
{% load func_tools %}
{% block title %}انتخاب چالشگاه{% endblock %}
{% block content %}
    <div class="uk-grid uk-grid-collapse uk-grid-width-1-4">
        <div>
            <a href="">
                <figure class="uk-overlay uk-overlay-hover uk-flex uk-flex-center uk-flex-middle" style="background: #3776AB;">
                    <div class="uk-panel-space">
                        <img class="uk-overlay-spin" src="http://pysocial.com/media/dashboard/box/56fd12f086318e0cc9200d63.png" alt="">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <h2 class="uk-heading-large"><strong>pysocial</strong></h2>
                        </figcaption>
                    </div>
                </figure>
            </a>
        </div>
        <div>
            <a href="">
                <figure class="uk-overlay uk-overlay-hover uk-flex uk-flex-center uk-flex-middle" style="background: #529D74;">
                    <div class="uk-panel-space">
                        <img class="uk-overlay-spin" src="http://pysocial.com/media/dashboard/box/56fd12f086318e0cc9200d62.png" alt="">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <h2 class="uk-heading-large"><strong>pysocial</strong></h2>
                        </figcaption>
                    </div>
                </figure>
            </a>
        </div>
        <div>
            <a href="">
                <figure class="uk-overlay uk-overlay-hover uk-flex uk-flex-center uk-flex-middle" style="background: #F8B53F;">
                    <div class="uk-panel-space">
                        <img class="uk-overlay-spin" src="http://pysocial.com/media/dashboard/box/56fd12f086318e0cc9200d60.png" alt="">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <h2 class="uk-heading-large"><strong>pysocial</strong></h2>
                        </figcaption>
                    </div>
                </figure>
            </a>
        </div>
        <div>
            <a href="">
                <figure class="uk-overlay uk-overlay-hover uk-flex uk-flex-center uk-flex-middle" style="background: #C095C9;">
                    <div class="uk-panel-space">
                        <img class="uk-overlay-spin" src="http://pysocial.com/media/dashboard/box/56fd12f086318e0cc9200d61.png" alt="">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <h2 class="uk-heading-large"><strong>pysocial</strong></h2>
                        </figcaption>
                    </div>
                </figure>
            </a>
        </div>
        <div>
            <a href="">
                <figure class="uk-overlay uk-overlay-hover uk-flex uk-flex-center uk-flex-middle" style="background: #79C7C3;">
                    <div class="uk-panel-space">
                        <img class="uk-overlay-spin" src="http://pysocial.com/media/dashboard/box/56fd12f086318e0cc9200d64.png" alt="">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <h2 class="uk-heading-large"><strong>pysocial</strong></h2>
                        </figcaption>
                    </div>
                </figure>
            </a>
        </div>
        <div>
            <a href="">
                <figure class="uk-overlay uk-overlay-hover uk-flex uk-flex-center uk-flex-middle" style="background: #2B333D;">
                    <div class="uk-panel-space">
                        <img class="uk-overlay-spin" src="http://pysocial.com/media/dashboard/box/56fd12f086318e0cc9200d65.png" alt="">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <h2 class="uk-heading-large"><strong>pysocial</strong></h2>
                        </figcaption>
                    </div>
                </figure>
            </a>
        </div>
        <div>
            <a href="">
                <figure class="uk-overlay uk-overlay-hover uk-flex uk-flex-center uk-flex-middle" style="background: #69B241;">
                    <div class="uk-panel-space">
                        <img class="uk-overlay-spin" src="http://pysocial.com/media/dashboard/box/56fd12f086318e0cc9200d66.png" alt="">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <h2 class="uk-heading-large"><strong>pysocial</strong></h2>
                        </figcaption>
                    </div>
                </figure>
            </a>
        </div>
        <div>
            <a href="">
                <figure class="uk-overlay uk-overlay-hover uk-flex uk-flex-center uk-flex-middle" style="background: #5A5884;">
                    <div class="uk-panel-space">
                        <img class="uk-overlay-spin" src="http://pysocial.com/media/dashboard/box/56fd12f086318e0cc9200d67.png" alt="">
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <h2 class="uk-heading-large"><strong>pysocial</strong></h2>
                        </figcaption>
                    </div>
                </figure>
            </a>
        </div>
    </div>
{% endblock %}