{% extends "base.html" %}
{% load static %}
{% load func_tools %}
{% block title %}تالار{% endblock %}
{% block content %}
    <section style="height: 456px;">
        <div class="uk-position-absolute uk-position-top">
            <div style="background: #151b20; height: 360px;"></div>
        </div>
        <div class="uk-block uk-block-large">
            <div class="uk-container uk-container-center"></div>
        </div>
    </section>

    <div class="uk-container uk-container-center">
        <table class="tm-table-thread uk-table datatable uk-table-middle">
            <thead>
                <th class="uk-text-right uk-text-center">#</th>
                <th class="uk-text-right">موضوع</th>
                <th class="uk-text-right">توضیحات</th>
                <th class="uk-text-center">عملیات</th>
            </thead>
            {% for thread in threads %}
                <tbody>
                    <td class="uk-text-center"><strong>{{ forloop.counter }}</strong></td>
                    <td>
                        <strong><a href="{% url 'show_posts' thread|mongo_id %}">{{ thread.title }}</a></strong>
                    </td>
                    <td>{{ thread.description | striptags | safe }}</td>
                    <td class="uk-text-center">
                        <a class="tm-btn-1 uk-button uk-button-small" href="{% url 'show_posts' thread|mongo_id %}"><i class="uk-icon-arrow-left"></i></a>
                    </td>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block js_plugins %}
    <script src="{% static "js/datatable/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/datatable/dataTables.uikit.min.js" %}"></script>
{% endblock %}