{% extends "base.html" %}
{% load static %}
{% load func_tools %}
{% block title %}تالار{% endblock %}
{% block content %}
    <section style="height: 456px;">
        <div class="uk-position-absolute uk-position-top">
            <div style="background: #151b20; height: 360px;"></div>
        </div>
        <div class="uk-block uk-block-large">
            <div class="uk-container uk-container-center">
                <div class="uk-grid uk-flex-middle">
                    <div class="uk-flex-item-auto">
                        <div class="tm-panel-header-content uk-panel uk-flex uk-flex-column uk-flex-space-between uk-contrast">
                            <h1 class="uk-heading-large">{{ box.title_fa }}</h1>
                            <hr>
                            <ul class="tm-subnav-content uk-subnav">
                                <li><i class="uk-icon-thumbs-up"></i>{{ box.likes }} کیﻻ</li>
                                <li><i class="uk-icon-book"></i>{{ len_contents }} ﺱﺭﺩ</li>
                                <li><i class="uk-icon-users"></i>{{ box.likes }} ﺩیﺩﺯﺎﺑ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-hidden-small">
                        <img src="{{ box.picture }}" alt="{{ box.title_fa }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="uk-container uk-container-center">
        <table class="uk-table datatable">
            <thead>
                <th class="uk-text-right"></th>
                <th class="uk-text-right">موضوع</th>
                <th class="uk-text-right">توضیحات</th>
                <th class="uk-text-right"></th>
            </thead>
            {% for thread in threads %}
                <tbody>
                    <td>
                        <img src="{{ thread.thread_pic }}" alt="{{ thread.title }}">
                    </td>
                    <td><a href="{% url 'show_posts' thread|mongo_id %}">{{ thread.title }}</a></td>
                    <td>{{ thread.description | striptags | safe }}</td>
                    <td>
                        <a class="uk-button" href="{% url 'show_posts' thread|mongo_id %}"><i class="uk-icon-arrow-left"></i></a>
                    </td>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block js_plugins %}
    <script src="{% static "js/datatable/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/datatable/dataTables.uikit.min.js" %}"></script>
{% endblock %}